@font-face {
  font-family: "ubuntuRegular";
  src: url("../public/assets/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ubuntuMedium";
  src: url("../public/assets/fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ubuntuBold";
  src: url("../public/assets/fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ubuntuRegular;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  background: url("../public/assets/images/bg.jpg") no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 70rem;
  padding: 1rem;
  margin: 0 auto;
}